.animation {
    margin: 200px 0px 100px 0px;

    animation: bring-to-the-top 1s ease-in-out 4s 1 normal forwards;
}

.sky {
    width: 100%;
    height: 200px;

    padding: 0px;
    text-transform: uppercase;
    border-top: 5px solid #555;
    border-bottom: 5px solid #555;

    background-color: skyblue;
    opacity: 0;

    animation: sky-fadein 1s ease-in-out 0s 1 normal forwards;
}

@keyframes sky-fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bring-to-the-top {
    0% {
        margin: 200px 0px 100px 0px;
    }
    100% {
        margin: 100px 0px 100px 0px;
    }
}
